/*
  --------------------------------------------------
  limpid CMS Made Simple Theme 1.1
  --------------------------------------------------
  IE8 CSS-File
  --------------------------------------------------

*/

div#container {
  z-index:1;
}
header {
  overflow: hidden;
  height:127px;
}
header div.breadcrumbs {
  position:relative;
}
ul#nav-main li ul,
ul#nav-main li ul li
ul#nav-main li ul a {
  height:0px;
  display:none;
  visibility:hidden;
}

body.login div.box {
	padding-top:60px;
}
body.login h1 {
  top:-30px;
  padding:50px;
}