/*
  --------------------------------------------------
  limpid CMS Made Simple Theme 1.1
  --------------------------------------------------
  IE8 CSS-File
  --------------------------------------------------

*/

header div.nav {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#888888',GradientType=0 );
}
footer p {
  font-size:.89em;
  font-weight:bold;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#777777',GradientType=0 );
}

div.breadcrumbs {display:none;}


ul#nav-main li a {
  border-top:1px solid #222;
  border-bottom-color:1px solid #111;
}


#page_tabs div {
  display:block;
  float:left;
}